<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--        hello thymeleaf!-->
<!--        <br>-->

<!--        &lt;!&ndash;取值 &ndash;&gt;-->
<!--        <br>-->
<!--        <b th:text="${hello}">打底值</b>-->

<!--        &lt;!&ndash;循环&ndash;&gt;-->
<!--        <br>-->
<!--        <p th:each="str:${list}" th:text="${str}"></p>-->

<!--        <p th:each="str:${list}">-->
<!--               <input th:text="${str}" th:value="${str}" value="111111">-->
<!--        </p>-->

<!--        &lt;!&ndash;判断&ndash;&gt;-->
<!--        <P>我是存在的</P>-->
<!--        <input type="checkbox" th:checked="${check}=='1'" />-->

<!--        &lt;!&ndash;传值给javascript &ndash;&gt;-->
<!--        <a th:href="'javascript:f(\''+${hello}+'\')'">点我</a>-->

<!--        &lt;!&ndash;页面引入&ndash;&gt;-->
<!--        <div th:include="indexInner::InnerPart"></div>-->
<div id="list">
    <div class="sort" data-id="1">1111111</div>
    <div class="sort" data-id="4">2222222</div>
    <div class="sort" data-id="3">3333333</div>
    <div class="sort" data-id="5">4444444</div>
    <div class="sort" data-id="2">5555555</div>
</div>

<script language="JavaScript">
    // function f(hello) {
    //     alert("js函数被调用"+hello);
    // }

    var aDiv = document.getElementsByClassName("sort");
    var arr = [];
    for (var i = 0; i < aDiv.length; i++) {
        arr.push(aDiv[i]);  //aDiv是元素的集合，并不是数组，所以不能直接用数组的sort进行排序。
    }
    arr.sort(function (a, b) {
        return a.getAttribute('data-id') - b.getAttribute('data-id')
    });
    for (var i = 0; i < arr.length; i++) {
        // document.body.etappendChild(arr[i]); //将排好序的元素，重新塞到body里面显示。
        document.getElementById('list').appendChild(arr[i]);
        // document.getElementsByClassName("sort").appendChild(arr[i]);
    }
</script>
</body>
</html>